main{
  display: flex;
  font-family: sans-serif;
  flex-wrap: wrap;
}

#navbar{
  min-width: 290px;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid darkgrey;
  overflow: scroll;
}

#section2{
  min-width: 290px;
  height: 100%;
  position: absolute;
  top:0;
  left: 300px;
  overflow: scroll;
  line-height: 1.5;
  padding: 15px;
}

.mainHeading{
  font-size: 26px;
  font-weight: normal;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  background: white;
}
#navbar p{
  margin: 0;
  border-top: 1px solid black;
  font-size: 16px;
  padding: 15px 30px;
}

#navbar a{
  text-decoration: none;
  color: black;  
}

#section2 p, #section2 code{
  padding-left: 15px;
}

#section2 ul{
  padding-left: 80px;
}

#section2 li{
  margin-top: 10px;
}
#section2 header{
  font-weight: normal;
  font-size: 28px;
}
#section2 code{
  display: block;
  background-color: rgb(228, 223, 223);
  color: rgb(84, 84, 84);
  padding: 20px 15px;
  line-height: 2;
  border-radius: 5px;
  margin-left: 25px;
}

@media(max-width: 800px)
{
  main{
    flex-direction: column;
  }
  
  #navbar{
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  #section2{
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 270px;
  }
  
}